@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* .container {
  width: 90%;
  margin: 0px auto;
} */

.Secheading::after {
  background-color: #0068e5;
  content: '';
  height: 3px;
  width: 60%;
  display: flex;
}

.head-footer::after {
  background-color: #0068e5;
  content: '';
  height: 2px;
  width: 30%;
  margin: 5px 0px 0px 3px;
  display: flex;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  left: -20px !important;
  top: 0;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before {
  top: -1px;
  left: -20px !important;
  border-bottom-color: #aeaeae;
}

@media screen and (min-width: 480px) {
  .Secheading-center::after {
    background-color: #0068e5;
    content: '';
    height: 2px;
    width: 30%;
    justify-content: start;
    margin-left: 0px;
  }
}

.Secheading-center::after {
  background-color: #0068e5;
  content: '';
  height: 2px;
  width: 30%;
  margin: auto;
  display: flex;
}

.footer-menu li {
  font-weight: 300;
}

.header-menu li {
  font-weight: 400;
}

.nav-menu {
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: white;
  left: 0;
  z-index: 0;
}

.mobile-nav {
  @apply bg-[#fafafa] p-4 rounded-xl border md:bg-transparent md:p-0 md:rounded-none md:border-none;
}

.form-input {
  @apply col-span-8 md:w-[70%] w-[100%] rounded-md border border-[#e0e0e0] bg-white py-2 px-2 text-base font-[400] text-[gray] outline-none focus:border-[#6A64F1] focus:shadow-md  flex-row;
}

.form-input-main-div {
  @apply justify-between my-4 md:flex;
}

.form-input-main-div-test {
  @apply my-4;
}

.form-input-test {
  @apply w-[70%];
}

.select-input {
  @apply col-span-8 w-full md:w-[70%] border rounded-md px-1 py-[10px];
}

.form-select {
  &__placeholder {
    margin: 0.125rem auto;
    width: 100%;
    height: 300px;
  }
}

.review-form {
  gap: calc(20px);
}

/* Form Section */
.main-form-section {
  @apply items-start grid-cols-12 gap-4 py-2 md:grid;
}

.new-form-input {
  @apply border border-gray-300 py-[10px] px-1 rounded-lg outline-none ring-0 focus:ring-blue-200 focus:ring-1 w-full;
}

.side-icon {
  @apply items-start float-right -mt-6 md:mt-0 text-primary;
}

.label-section {
  @apply col-span-3;
}

.mark-section {
  @apply relative order-3 col-span-1;
}

.tooltip-content {
  @apply absolute -top-12  w-[230px] right-0 scale-0 transition-all rounded bg-gray-800 p-2 text-xs text-white group-hover:scale-100;
}
