@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1900px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Navbar --start*/
.headerMainVisa {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s ease-in;
  overflow: visible;
}
.headerMainVisa-bg {
  background-color: #185a80f0;
  z-index: 100;
  box-shadow: 2px 2px 4px #000000;
}

.headerMainVisa .navbarMainVisa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 8px;
  max-width: 1150px; */
  margin: auto;
  height: 100%;
  /* overflow: visible; */
}



.headerMainVisa .nav-menuMainVisa {
  display: flex;
}

.headerMainVisa .nav-itemMainVisa {
  padding: 0.9rem;
  font-weight: 500;
  color: black;
}

/* .rajez {
  z-index: 99 !important;
} */
.hamburgerMainVisa {
  display: none;
}
/* .dropdown-menu {
  visibility: visible;
}
.dropdown-mobile {
  display: none;
} */

@media screen and (max-width: 940px) {
  .nav-itemMainVisa a {
    color: #fff;
  }
  .headerMainVisa {
    max-width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 4px #0000004f;
  }

  .headerMainVisa .navbarMainVisa {
    max-width: 100%;
  }

  .hamburgerMainVisa {
    display: block;
  }

  .nav-menuMainVisa {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 999;
    transition: 0.3s;
  }

  .nav-menuMainVisa.active {
    left: 0;
  }

  .nav-itemMainVisa {
    margin: 0.1rem 0;
  }

  /* .headerMainVisa .navbar img {
      width: 150px;
  } */
  /* .dropdown-menu {
    visibility: hidden;
  }
  .dropdown-mobile {
    display: none;
  } */
}
/* Navbar--close */

.btnBlue{
    @apply bg-primaryMain hover:bg-black rounded-md text-white
}
.btnBlack{
  @apply bg-black hover:bg-primaryMain rounded-md text-white
}
