@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0px auto;
}

/* form css start  */
.formMain {
  @apply py-8 space-y-4;
}
.form-input-main-div {
  @apply grid items-center pt-3 md:grid-cols-12 md:pt-0;
}
.form-label {
  @apply col-span-4 mb-3 text-base text-[#07074D] md:block flex gap-4 items-center;
}

.info-icon {
  @apply w-4 h-4 md:hidden;
}
.form-input {
  @apply col-span-8 w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md;
}
.select-input {
  @apply w-full col-span-8;
}
.input-error-wrapper {
  @apply w-full col-span-8;
}
.formbtnBorder {
  @apply px-8 py-2 font-semibold bg-transparent border-2 rounded-full shadow-md hover:bg-secondary text-primary hover:text-black border-primary focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
}
.formbtn {
  @apply px-8 py-2 font-semibold text-white rounded-full shadow-md bg-secondary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
}
.formbtnDark {
  @apply px-8 py-2 font-semibold text-white rounded-full shadow-md hover:bg-secondary bg-secondary focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
}

.sidetext {
  @apply text-sm font-semibold text-primary;
}
.PhoneInputInput {
  outline: none;
}
/*
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1900px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
} */

/* Navbar --start*/
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s ease-in;
  overflow: visible;
}
.header-bg {
  background-color: #185a80f0;
  z-index: 100;
  box-shadow: 2px 2px 4px #000000;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 8px;
  max-width: 1150px; */
  margin: auto;
  height: 100%;
  /* overflow: visible; */
}
.textclass {
  font-size: 0.8rem !important;
}

/* .nav-item a:hover{
  color:#F6B803;
} */

/* .header .navbar img {
  width: 205px;
  height: auto;
} */

.header .nav-menu {
  display: flex;
}
.spacingYlogo {
  padding-top: -40px;
}
.spacingYtext {
  padding-top: -30px;
}
.spacinglogo {
  padding-top: 10px;
}
.spacingtext {
  padding-top: 60px;
}

.header .nav-item {
  padding: 0.9rem;
  font-weight: 500;
  color: black;
}

.rajez {
  z-index: 99 !important;
}
.hamburger {
  display: none;
}
.dropdown-menu {
  visibility: visible;
}
.dropdown-mobile {
  display: none;
}

@media screen and (max-width: 940px) {
  .nav-item a {
    color: #fff;
  }
  .header {
    max-width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 4px #0000004f;
  }

  .header .navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 999;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 0.1rem 0;
  }

  /* .header .navbar img {
      width: 150px;
  } */
  .dropdown-menu {
    visibility: hidden;
  }
  .dropdown-mobile {
    display: none;
  }
}
@media only screen and (min-width: 510px) and (max-width: 620px) {
  .boxessingle {
    margin-top: 4rem;
  }
}
@media only screen and (min-width: 621px) and (max-width: 770px) {
  .boxessingle {
    margin-top: 9rem;
  }
}
/* Navbar--close */
.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  left: -20px !important;
  top: 0;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before {
  top: -1px;
  left: -20px !important;
  border-bottom-color: #aeaeae;
}
